<h6 class="{{classes.heading}}">Third iteration</h6>
<p class="{{classes.body}}">Rules are exactly the same as they were before.</p>
<p class="{{classes.body}}">All cards from previous iterations are removed, new cards in column «Queue» are added. This way it will be much easier to compare results and metrics from previous iterations with current iteration.</p>
<p class="{{classes.body}}">We added histograms to help you track your progress.</p>
<img src="{{assetsPath}}assets/charts.png" alt="charts" class="{{classes.image}}" />

<h6 class="{{classes.heading}}">Cumulative flow diagram</h6>
<img src="{{assetsPath}}assets/cfd.png" alt="cfd" class="{{classes.image}}" />
<p class="{{classes.body}}">The chart tracks the total number of work items. The horizontal axis of the CFD represents the time frame for which the chart is visualizing data. The vertical axis shows the cumulative number of cards that are in the workflow at the various points in time. The differently colored bands that divide sections of the upward flow are the different stages of your workflow. Using a CFD, you can get an idea of how long is the approximate cycle time of your tasks in just a single glance.</p>

<h6 class="{{classes.heading}}">Lead time</h6>
<img src="{{assetsPath}}assets/lead-time.png" alt="lead time" class="{{classes.image}}" />
<p class="{{classes.body}}">The lead time chart allows you to view the average number of days it takes work to flow through your process.</p>
