<h6 class="heading">Runda druga</h6>
<p class="body">Dotychczasowe zasady gry nie ulegają zmianie, ale wprowadzony zostaje nadrzędna zasada - ograniczenie pracy w toku - tzw. Limit WIP (Work In Progress limit), które dotyczą kolumn «W toku» and «W testach».</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="wip limits" class="image" />
<img src="{{assetsPath}}assets/wip-moves.png" alt="wip moves" class="image" />

<p class="body">Liczba dni spędzonych w danym stanie zostaje dodana do kart zadań</p>
<img src="{{assetsPath}}assets/days-count.png" alt="days count" class="image" />

<p class="body">Kolumny i metryki zadań zostają dodane.</p>
<img src="{{assetsPath}}assets/metrics.png" alt="metrics" class="image" />

<h6 class="heading">Licznik zadań w kolumnie</h6>
<p class="body">Pokazuje ile zadań znajdowało się w danej kolumnie na koniec dnia</p>
<img src="{{assetsPath}}assets/column-count-metric.png" alt="column count metric" class="image" />

<h6 class="heading">Czas realizacji (lead time)</h6>
<p class="body">Pokazuje dzień kiedy zadanie zostało umieszczone w kolumnie w toku. Dzień, w którym zadanie zostało umieszczone w kolumnie «Zrobione» oraz całkowitą liczbę dni spędzonych w toku.</p>
<img src="{{assetsPath}}assets/lead-time-metric.png" alt="lead time metric" class="image" />

{{> (resolvePartial lng "rulesBlock")}}