<h6 class="heading">Вторая итерация</h6>
<p class="body">Правила остаются точно такими же как и в первой итерации, но на колонки «В Работе» и «Тестирование» добавляется ограничение на количество задач (WIP - Work In Progress лимиты). Это означает, что вы не можете передвинуть задачу в колонку, WIP лимиты которой превышены или заполнены до предела!</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="wip limits" class="image" />
<img src="{{assetsPath}}assets/wip-moves.png" alt="wip moves" class="image" />

<p class="body">На каждую задачу добавлена информация о количестве дней, которые она провела в работе.</p>
<img src="{{assetsPath}}assets/days-count.png" alt="days count" class="image" />

<p class="body">Добавлены метрики для колонок и карточек.</p>
<img src="{{assetsPath}}assets/metrics.png" alt="metrics" class="image" />

<h6 class="heading">Подсчет карточек по колонкам</h6>
<p class="body">Демонстрирует количество задач в каждой колонке в конце каждого игрового дня.</p>
<img src="{{assetsPath}}assets/column-count-metric.png" alt="column count metric" class="image" />

<h6 class="heading">Время выполнения</h6>
<p class="body">Показывает в какой день задача была взята в работу, день, когда задача была завершена, а также суммарное количество дней, которое задача провела в работе</p>
<img src="{{assetsPath}}assets/lead-time-metric.png" alt="lead time metric" class="image" />

{{> (resolvePartial lng "rulesBlock")}}
