<h6 class="heading">Segunda iteración</h6>
<p class="body">Las reglas son exactamente las mismas que antes pero con una diferencia. Se añade la limitación del WIP (Work In Progress) a las etapas de “Trabajo En Progreso” - es decir, las columnas de «En Progreso» y «Probando».</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="wip limits" class="image" />
<img src="{{assetsPath}}assets/wip-moves.png" alt="wip moves" class="image" />

<p class="body">Se añade a las tarjetas la cantidad de días dedicados a la tarea</p>
<img src="{{assetsPath}}assets/days-count.png" alt="days count" class="image" />

<p class="body">Se añaden métricas de las columnas y de las tarjetas.</p>
<img src="{{assetsPath}}assets/metrics.png" alt="metrics" class="image" />

<h6 class="heading">Contador de tarjetas por columna</h6>
<p class="body">Muestra cuántas tarjetas se encuentran en cada columna al final de cada día</p>
<img src="{{assetsPath}}assets/column-count-metric.png" alt="column count metric" class="image" />

<h6 class="heading">Lead time</h6>
<p class="body">Muestra qué día la tarjeta pasó a la columna de “En Progreso”. El día en el que la tarjeta llegó a la columna de “Hecho”. Y el total de días que la tarjeta estuvo en los estados intermedios</p>
<img src="{{assetsPath}}assets/lead-time-metric.png" alt="lead time metric" class="image" />

{{> (resolvePartial lng "rulesBlock")}}