<h6 class="heading">Zweite Runde</h6>
<p class="body">Die Regeln bleiben die gleichen wie zuvor, mit nur einem Unterschied: es werden WIP (Work In Progress)-Limits für die beiden Arbeits-Spalten gesetzt.</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="wip limits" class="image" />
<img src="{{assetsPath}}assets/wip-moves.png" alt="wip moves" class="image" />

<p class="body">Die Anzahl der Bearbeitungstage wird jetzt jeder Karte hinzugefügt.</p>
<img src="{{assetsPath}}assets/days-count.png" alt="days count" class="image" />

<p class="body">Spalten- und Kartenmetriken wurden hinzugefügt.</p>
<img src="{{assetsPath}}assets/metrics.png" alt="metrics" class="image" />

<h6 class="heading">Anzahl Karten pro Spalte</h6>
<p class="body">Zeigt an, wie viele Karten sich am Ende des jeweiligen Tages in den einzelnen Spalten befanden</p>
<img src="{{assetsPath}}assets/column-count-metric.png" alt="column count metric" class="image" />

<h6 class="heading">Lead Time</h6>
<p class="body">Zeigt jeweils den Tag an, an dem die Karte in Arbeit genommen wurde, den Tag, an dem die Karte in die Spalte "Done"/"Erledigt" geschoben wurde und die Anzahl der Tage, an denen die Karte in Bearbeitung war.</p>
<img src="{{assetsPath}}assets/lead-time-metric.png" alt="lead time metric" class="image" />

{{> (resolvePartial lng "rulesBlock")}}
