<div class="centeredTitle">
  <img
    src="/img/featureban/AH.svg"
    alt="red card"
    class="cardIcon redCardIcon"
  />
  <h6 class="heading redCardHeader">Züge bei einer roten Karte</h6>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Ziehe eine deiner nicht geblockten Karten weiter</p>
</div>
<img src="{{assetsPath}}assets/card-advance.png" alt="advancing card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">ODER entblocke eine deiner Karten.</p>
</div>
<img src="{{assetsPath}}assets/unblock.png" alt="unblocking card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">ODER beginne eine neue Karte</p>
</div>
<img src="{{assetsPath}}assets/start-card.png" alt="starting new card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">und nur, wenn nichts davon geht: hilf einem anderen Spieler. – ziehe or entblocke eine seiner Karten.</p>
</div>

<hr class="divider"/>

<div class="centeredTitle">
  <img
    src="/img/featureban/AC.svg"
    alt="black card"
    class="cardIcon"
  />
  <h6 class="heading">Züge bei einer schwarzen Karte</h6>
</div>
<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Blocke eine deiner Karten (nur wenn möglich)</p>
</div>
<img src="{{assetsPath}}assets/card-block.png" alt="" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">UND starte eine neue Karte (auch wenn du keine Karte blocken konntest)</p>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Nur wenn Du keine neue Karte starten konntest, hilf einem anderen Spieler – ziehe or entblocke eine seiner Karten.</p>
</div>
<img src="{{assetsPath}}assets/help-black.png" alt="helping for black card" class="image" />
