<div class="centeredTitle">
  <img
    src="/img/featureban/AH.svg"
    alt="red card"
    class="cardIcon redCardIcon"
  />
  <h6 class="heading redCardHeader">Red card moves</h6>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Advance one of your items</p>
</div>
<img src="{{assetsPath}}assets/card-advance.png" alt="advancing card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">OR unblock one of your items</p>
</div>
<img src="{{assetsPath}}assets/unblock.png" alt="unblocking card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">OR start new item</p>
</div>
<img src="{{assetsPath}}assets/start-card.png" alt="starting new card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">And if you have no other option, help someone else – advance or unblock one of theirs</p>
</div>

<hr class="divider"/>

<div class="centeredTitle">
  <img
    src="/img/featureban/AC.svg"
    alt="black card"
    class="cardIcon"
  />
  <h6 class="heading">Black card moves</h6>
</div>
<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Block one of your items (only if you have one to block)</p>
</div>
<img src="{{assetsPath}}assets/card-block.png" alt="" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">AND start a new item if any remain, move it to the first in-progress column (even if you had nothing to block)</p>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">If and only if you can’t start a new item, help someone! Advance or unblock another player’s item</p>
</div>
<img src="{{assetsPath}}assets/help-black.png" alt="helping for black card" class="image" />