<div class="centeredTitle">
  <img
    src="/img/featureban/AH.svg"
    alt="red card"
    class="cardIcon redCardIcon"
  />
  <h6 class="heading redCardHeader">Movimientos de las cartas rojas</h6>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Avanza con una de tus tarjetas</p>
</div>
<img src="{{assetsPath}}assets/card-advance.png" alt="advancing card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">o desbloquea una de tus tarjetas</p>
</div>
<img src="{{assetsPath}}assets/unblock.png" alt="unblocking card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">o comienza una nueva tarea</p>
</div>
<img src="{{assetsPath}}assets/start-card.png" alt="starting new card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Y, si no tienes ninguna otra opción, ayuda a un compañero – mueve o desbloquea alguna de sus tarjetas</p>
</div>

<hr class="divider"/>

<div class="centeredTitle">
  <img
    src="/img/featureban/AC.svg"
    alt="black card"
    class="cardIcon"
  />
  <h6 class="heading">Movimientos de las cartas negras</h6>
</div>
<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Bloquea una de tus tarjetas (si tienes alguna que puedas bloquear)</p>
</div>
<img src="{{assetsPath}}assets/card-block.png" alt="" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Y comienza una de las tareas pendientes, muévela a la primera columna de "en progreso" (aunque no hayas podido bloquear ninguna de tus tarjetas)</p>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Solo y solo si no puedes comenzar una nueva tarea, ¡ayuda a un compañero! Avanza o desbloquea alguna de sus tarjetas</p>
</div>
<img src="{{assetsPath}}assets/help-black.png" alt="helping for black card" class="image" />
