<h6 class="heading">第二个迭代</h6>
<p class="body">规则与以前完全一样，只有一个区别。WIP（Work In Progress）在制品限额被添加到正在进行的阶段--《进行中》和《测试中》两栏。</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="wip limits" class="image" />
<img src="{{assetsPath}}assets/wip-moves.png" alt="wip moves" class="image" />

<p class="body">现在每张卡片上都加上了工作天数。</p>
<img src="{{assetsPath}}assets/days-count.png" alt="days count" class="image" />

<p class="body">增加了栏和卡片的度量。</p>
<img src="{{assetsPath}}assets/metrics.png" alt="metrics" class="image" />

<h6 class="heading">每列的卡片计数</h6>
<p class="body">显示每天到结束时每一栏有多少张卡片。</p>
<img src="{{assetsPath}}assets/column-count-metric.png" alt="column count metric" class="image" />

<h6 class="heading">前置时间</h6>
<p class="body">显示卡片被移到《进行中》栏里的日子。卡片被移动到《完成》栏的日子。以及卡片在进行中的总天数。</p>
<img src="{{assetsPath}}assets/lead-time-metric.png" alt="lead time metric" class="image" />

{{> (resolvePartial lng "rulesBlock")}}