<h6 class="heading">Segunda iteração</h6>
<p class="body">As regras são exatamente as mesmas de antes, com apenas uma diferença. Os limites do WIP (trabalho em andamento) são adicionados aos estágios em andamento - para as colunas «Fazendo» e «Testando».</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="wip limits" class="image" />
<img src="{{assetsPath}}assets/wip-moves.png" alt="wip moves" class="image" />

<p class="body">A quantidade de dias utilizados no trabalho agora é adicionada a cada cartão</p>
<img src="{{assetsPath}}assets/days-count.png" alt="days count" class="image" />

<p class="body">Métricas de colunas e cartões foram adicionadas.</p>
<img src="{{assetsPath}}assets/metrics.png" alt="metrics" class="image" />

<h6 class="heading">Contador de cartões por coluna</h6>
<p class="body">Mostra quantos cartões havia por dia em cada coluna até o final do dia</p>
<img src="{{assetsPath}}assets/column-count-metric.png" alt="column count metric" class="image" />

<h6 class="heading">Lead time</h6>
<p class="body">Mostra o dia em que o cartão foi movido para a coluna «Fazendo». O dia em que o cartão foi movido para a coluna «Entregue». E a quantidade total de dias em que o cartão estava em andamento</p>
<img src="{{assetsPath}}assets/lead-time-metric.png" alt="lead time metric" class="image" />

{{> (resolvePartial lng "rulesBlock")}}