<h6 class="heading">Друга ітерація</h6>
<p class="body">Правила залишаються такими ж я і в першій ітерації, але на колонки «В Роботі» та «Перевірка» додається обмеження на кількість задач (WIP - Work In Progress ліміти). Це означає, що ви не можете пересунути задачу в колонку, WIP ліміти якої перевищені або заповнені до межі!</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="wip limits" class="image" />
<img src="{{assetsPath}}assets/wip-moves.png" alt="wip moves" class="image" />

<p class="body">На кожну задачу додається інформація про кількість днів, котрі вона провела в роботі.</p>
<img src="{{assetsPath}}assets/days-count.png" alt="days count" class="image" />

<p class="body">Додані метрики для колонок та карток.</p>
<img src="{{assetsPath}}assets/metrics.png" alt="metrics" class="image" />

<h6 class="heading">Підрахунок карток по колонкам</h6>
<p class="body">Відображає кількість задач в кожній колонці в кінці кожного грального дня.</p>
<img src="{{assetsPath}}assets/column-count-metric.png" alt="column count metric" class="image" />

<h6 class="heading">Час виконання</h6>
<p class="body">Показує в який день задача була взята в роботу, день, коли задача була завершена, а також сумарну кількість днів, що задача провела в роботі</p>
<img src="{{assetsPath}}assets/lead-time-metric.png" alt="lead time metric" class="image" />

{{> (resolvePartial lng "rulesBlock")}}
