<h6 class="heading">Перша ітерація</h6>
<p class="body">
  Гра розділена на декілька ітерацій. Основна мета першої ітерації - візуалізація робочого процесу. Кожна картка на дошці являє собою задачу, яку має виконати ваша команда. Всі нові задачі з'являються в колонці «Черга». Щоб виконати задачу, ви маєте доставити її в колонку «Завершено», проходячи всі проміжні етапи - «В Роботі» та «Перевірка».
</p>
<img src="{{assetsPath}}assets/workflow.png" alt="workflow" class="image" />
<p class="body">Коли ві переміщуєте картку в колонку «В Роботі» - ви стаєте відповідальним за цю задачу, і ваш аватар додається на відповідну картку.</p>
<img src="{{assetsPath}}assets/card-owners.png" alt="card owners" class="image" />
<p class="body">Початок гри</p>
<img src="{{assetsPath}}assets/begin.png" alt="game initial screen" class="image" />

<h6 class="heading">Блокування</h6>
<p class="body">Іноді ваша поточна задача виявляється заблокованою. Блокування має на увазі що з якихось причин ви не можете продовжити роботу над нею. Задача може бути залежною від результатів іншої, і в такому випадку її прогрес призупиняється. Заблокировану задачу неможна пересунути в наступну колонку.</p>
<img src="{{assetsPath}}assets/blocked.png" alt="blocked info" class="image" />

<h6 class="heading">Випадкова карта карта</h6>
<p class="body">На початку кожного ігрового дня кожен гравець отримує випадкову гральну карту (червону/чорну). Для чого це потрібно? Коли люди беруть в роботу нову задачу, планируються певні строки виконання. Але завжди є шанс, що заплановані строки можуть бути порушені, і на то може бути безліч причин. Кожна картка надає вам певний набір дій.</p>

{{> (resolvePartial lng "cardMoves")}}

<h6 class="heading">Керування ходом гри (тільки для фасилітатора)</h6>
<img src="{{assetsPath}}assets/game-controls.png" alt="game controls for facilitator" class="image" />

<h6 class="heading">Зміна ролі (тільки для творця гри)</h6>
<p class="subtitle">У випадку коли один із учасників вийшов із гри, або з якоїсь причини не може продовжувати гру, ви можете видалити такого гравця із гри, змінив його роль на спостерігача. Якшо в цього гравця є задачі в роботі, вам потрібно буде обрати іншого гравця, який старне відповідальним за ці задачі.</p>
<img src="{{assetsPath}}assets/remove-player.png" alt="removing player instructions" class="image" />

{{> (resolvePartial lng "rulesBlock")}}

<div class="footer">
  <p class="subtitle">Основна мета гри - виконати якомога більше задач, поставив іх до колонки «Завершені». Всі інші правила та ньюанси ви дізнаєтесь в процесі гри! Натисніть кнопку «Готовий» та зіграйте в Featureban!</p>
</div>
