<div class="centeredTitle">
  <img
    src="/img/featureban/AH.svg"
    alt="red card"
    class="cardIcon redCardIcon"
  />
  <h6 class="heading redCardHeader">Akcje dla czerwonej karty</h6>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Przesuń jedno ze swoich zadań</p>
</div>
<img src="{{assetsPath}}assets/card-advance.png" alt="advancing card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">LUB odblokuj jedno ze swoich zadań</p>
</div>
<img src="{{assetsPath}}assets/unblock.png" alt="unblocking card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">LUB rozpocznij nowe zadanie</p>
</div>
<img src="{{assetsPath}}assets/start-card.png" alt="starting new card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Tylko jeśli nie możesz wykonać powyższych akcji możesz pomóc komuś innemu! Przesuń lub odblokuj zadanie innego gracza</p>
</div>

<hr class="divider"/>

<div class="centeredTitle">
  <img
    src="/img/featureban/AC.svg"
    alt="black card"
    class="cardIcon"
  />
  <h6 class="heading">Akcje dla czarnej karty</h6>
</div>
<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">Zablokuj jedno ze swoich niezablokowanych zadań jeśli takie masz</p>
</div>
<img src="{{assetsPath}}assets/card-block.png" alt="" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">ORAZ rozpocznij nowe zadanie jeśli jakieś są dostępne, przesuń je do pierwszej kolumnu w toku, również kiedy nie masz nic do zablokowania.</p>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">i tylko jeśli nie możesz przesunąć swoich zadanie możesz pomóc komuś innemu! Przesuń lub odblokuj zadanie innego gracza.</p>
</div>
<img src="{{assetsPath}}assets/help-black.png" alt="helping for black card" class="image" />