<div class="centeredTitle">
  <img
    src="/img/featureban/AH.svg"
    alt="red card"
    class="cardIcon redCardIcon"
  />
  <h6 class="heading redCardHeader">红牌的行动</h6>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">推进一个你的工作项</p>
</div>
<img src="{{assetsPath}}assets/card-advance.png" alt="advancing card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">或解除你的一个受阻工作项</p>
</div>
<img src="{{assetsPath}}assets/unblock.png" alt="unblocking card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">或开始一个新的工作项</p>
</div>
<img src="{{assetsPath}}assets/start-card.png" alt="starting new card" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">如果你没有其他选择，就帮助别人--推进或解除他们的一个受阻工作项</p>
</div>

<hr class="divider"/>

<div class="centeredTitle">
  <img
    src="/img/featureban/AC.svg"
    alt="black card"
    class="cardIcon"
  />
  <h6 class="heading">黑牌的行动</h6>
</div>
<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">阻碍一个你的工作项（如果你有未受阻的工作项）</p>
</div>
<img src="{{assetsPath}}assets/card-block.png" alt="" class="image" />

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">并且开始一个新的工作项，并把它移动到《进行中》一栏（即使你没有任何工作项可以受阻）</p>
</div>

<div class="centeredTitle">
  <img
    src="/img/featureban/ListItem.svg"
    alt="list item"
    class="listIcon"
  />
  <p class="subtitle">如果也只有当无法开始一个新的工作项时，请帮助别人！推进或者解除他人的一个受阻工作项。</p>
</div>
<img src="{{assetsPath}}assets/help-black.png" alt="helping for black card" class="image" />